@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-image: linear-gradient( #dcc8dc 90%, mediumpurple);
    padding-bottom: 80px;
}
h1{
    color: indigo;
    font-weight: 800;
    margin: 100px auto 0;
    font-size: 55px;
    text-align: center;
}
h2{
    color: purple;
    text-align: center;
    font-size: 38px;
}
.titulo{
    margin-top: 60px;
    font-size: 45px;
    font-weight: 1000;
}
hr{
    border: 2px solid indigo;
    border-radius: 10px;
    margin: 20px 6vw;
    box-shadow: 0 0 5px 1px mediumpurple;
}
p{
    margin: 20px auto 0;
    width: 70vw;
    font-weight: 600;
    font-size: 1.6rem;
}
span{
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    color: indigo;
    font-size: 1.4rem;
}


.links{
    display: grid;
    margin: 50px 70px 30px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
}

.link{
    display: flex;
    text-decoration: none;
    background-color:rebeccapurple;
    color:thistle;
    font-weight: 800;
    width: 180px;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 50px;
    transition: 0.4s;
}

.link:hover{
    background-color: thistle;
    color: rebeccapurple;
    box-shadow: 0 0 8px 1px rebeccapurple;
    font-size: 1.6rem;
}

.link--casita{
    width: 90px;
    min-width: 90px;
    height: 90px;
    font-size: 3rem;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
}
.link--casita:hover{
    font-size: 3.6rem;
}